# Environnements virtuels
venv/
.venv/
.venv-1/

# Python
__pycache__/
*.pyc

# Variables d'environnement
.env

# Base de données locale
db.sqlite3

# Fichiers uploadés
media/


# Fichiers statiques générés
staticfiles/