{% extends 'authentification/auth_base.html' %}
{% load static %}

{% block title %}Connexion | INNOVLINK{% endblock %}

{% block content %}

<main class="auth-main">

<div class="auth-container">

    <div class="glass-card auth-box">

        <!-- EN-TÊTE -->
        <div class="auth-header-content">

            <h2>Connexion</h2>

            <p>
                Connectez-vous à votre espace.
            </p>

        </div>


        <!-- FORMULAIRE -->
        <form method="POST" class="auth-form">

            {% csrf_token %}


            <!-- EMAIL -->
            <div class="form-group">

                <label for="email">
                    Email
                </label>

                <div class="input-with-icon">

                    <i class="fa-solid fa-envelope"></i>

                    <input
                        type="email"
                        id="email"
                        name="email"
                        placeholder="nom@exemple.com"
                        autocomplete="email"
                        required
                    >

                </div>

            </div>


            <!-- MOT DE PASSE -->
            <div class="form-group">

                <label for="mot_de_passe">
                    Mot de passe
                </label>

                <div class="input-with-icon">

                    <i class="fa-solid fa-lock"></i>

                    <input
                        type="password"
                        id="mot_de_passe"
                        name="mot_de_passe"
                        placeholder="••••••••"
                        autocomplete="current-password"
                        required
                    >

                </div>

            </div>


            <!-- BOUTON CONNEXION -->
            <button
                type="submit"
                class="btn btn-primary w-100"
            >
                <i class="fa-solid fa-right-to-bracket"></i>
                Se connecter
            </button>

        </form>


        <!-- PIED DU FORMULAIRE -->
        <div class="auth-box-footer">

            <p>
                Vous n'avez pas encore de compte ?

                <a href="{% url 'role' %}">
                    Créer un compte
                </a>
            </p>

        </div>

    </div>

</div>
</main>
{% endblock %}
