{% extends 'authentification/auth_base.html' %}
{% load static %}

{% block title %}Connexion | INNOVLINK{% endblock %}

{% block content %}

<div class="auth-header-content">
    <h2>Connexion</h2>
    <p>Connectez-vous à votre espace .</p>
</div>

<form method="POST" class="auth-form">
    {% csrf_token %}
<div class="form-group">

    <label for="email">Email</label>

    <div class="input-with-icon">

        <i class="fa-solid fa-envelope"></i>

        <input
            type="email"
            id="email"
            name="email"
            placeholder="nom@exemple.com"
            required
        >

    </div>

</div>


<div class="form-group">

    <label for="mot_de_passe">Mot de passe</label>

    <div class="input-with-icon">

        <i class="fa-solid fa-lock"></i>

        <input
            type="password"
            id="mot_de_passe"
            name="mot_de_passe"
            placeholder="••••••••"
            required
        >

    </div>

</div>


<button
    type="submit"
    class="btn btn-primary w-100"
>
    Se connecter
</button>
</form>

<div class="auth-box-footer">
<p>
    Vous n'avez pas encore de compte ?

    <a href="{% url 'role' %}">
        Créer un compte
    </a>
</p>
</div>

{% endblock %}

